In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## **Split**

In [29]:
X = df.drop('price_range', axis = 1)
y = df['price_range']

In [30]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [31]:
X.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [33]:
X_test.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
1829,1065,0,1.7,1,4,1,48,0.3,162,6,8,1188,1948,265,8,0,12,1,0,0
1001,1524,0,2.6,1,5,0,57,0.5,124,2,12,629,635,947,11,4,16,0,1,1
491,1889,0,2.8,0,5,1,31,1.0,132,1,10,170,1106,3672,5,1,3,1,1,1
475,1122,0,1.2,0,9,0,2,0.6,120,4,14,331,790,3291,11,2,13,1,1,1
1684,1035,0,0.5,1,14,1,49,0.3,178,2,15,574,1171,3991,12,4,19,1,0,0
1607,744,0,1.7,1,0,1,33,0.5,105,4,2,1252,1963,2700,9,3,19,1,0,0
1138,1413,1,1.7,0,2,0,10,0.2,200,6,6,314,1606,2867,5,4,15,0,1,0
1129,1562,1,1.2,1,0,1,52,0.1,105,7,9,480,728,2829,13,10,3,1,1,1
1889,1090,1,2.3,0,1,1,8,0.6,128,8,8,1217,1670,3839,17,3,11,1,0,1
1371,601,1,1.7,1,3,1,6,0.8,169,4,11,818,1827,2651,14,8,9,1,0,1

In [34]:
y_test.head(10)

1829    0
1001    0
491     3
475     2
1684    3
1607    2
1138    2
1129    2
1889    3
1371    2
Name: price_range, dtype: int64

In [35]:
y_train.head()

825     3
1462    3
738     1
1852    0
1689    2
Name: price_range, dtype: int64

## **Train**

In [36]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([0, 0, 3, 2, 3, 3, 2, 2, 3, 2, 1, 1, 0, 3, 1, 0, 0, 1, 0, 3, 1, 3,
       3, 2, 2, 1, 3, 2, 0, 0, 2, 0, 3, 0, 0, 2, 0, 2, 3, 3, 2, 3, 1, 1,
       2, 3, 3, 1, 0, 3, 2, 0, 1, 1, 3, 3, 0, 2, 0, 3, 2, 1, 1, 2, 3, 3,
       0, 1, 0, 1, 2, 3, 3, 2, 3, 1, 0, 0, 2, 1, 3, 0, 1, 3, 2, 0, 0, 2,
       0, 3, 2, 0, 0, 1, 3, 0, 3, 2, 3, 1, 2, 2, 2, 1, 1, 3, 3, 1, 2, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 2, 0, 3, 2, 3, 1, 2, 1, 2, 0, 3,
       3, 2, 0, 3, 3, 1, 2, 3, 0, 0, 3, 0, 3, 0, 0, 2, 2, 2, 2, 2, 1, 3,
       3, 0, 0, 3, 2, 0, 0, 3, 3, 0, 1, 1, 0, 1, 2, 1, 3, 0, 1, 2, 1, 2,
       0, 3, 3, 0, 2, 2, 2, 2, 2, 1, 0, 3, 1, 0, 1, 2, 0, 3, 1, 2, 3, 3,
       0, 0, 2, 1, 3, 0, 1, 0, 1, 0, 0, 0, 3, 1, 2, 3, 0, 0, 2, 2, 1, 0,
       0, 3, 2, 3, 1, 2, 1, 3, 1, 0, 1, 0, 0, 3, 2, 1, 2, 0, 2, 1, 3, 3,
       2, 2, 3, 1, 0, 0, 1, 1, 0, 1, 0, 2, 2, 0, 0, 1, 3, 1, 0, 2, 2, 3,
       1, 3, 3, 3, 0, 2, 0, 0, 1, 1, 3, 3, 1, 3, 0, 1, 0, 3, 3, 2, 0, 1,
       0, 3, 1, 2, 0, 0, 3, 0, 3, 1, 3, 3, 3, 0, 1, 3, 1, 0, 0, 1, 0, 0,
       1, 1, 2, 3, 0, 3, 1, 2, 3, 1, 1, 0, 0, 3, 0, 3, 2, 2, 0, 0, 3, 0,
       1, 0, 0, 1, 2, 0, 1, 1, 0, 3, 2, 3, 1, 1, 2, 2, 3, 0, 0, 2, 0, 0,
       0, 2, 3, 2, 3, 2, 1, 1, 0, 3, 0, 1, 2, 0, 3, 3, 2, 3, 1, 3, 0, 3,
       3, 3, 2, 2, 1, 2, 3, 1, 3, 1, 0, 1, 0, 3, 2, 1, 2, 0, 0, 2, 2, 1,
       0, 2, 3, 3, 0, 0, 2, 3, 2, 1, 2, 3, 3, 2, 3, 2, 1, 3, 0, 3, 1, 3,
       0, 2, 0, 2, 3, 0, 0, 2, 0, 3, 3, 2, 0, 3, 2, 2, 2, 2, 0, 0, 2, 2,
       0, 0, 0, 1, 3, 0, 3, 0, 1, 0, 3, 3, 0, 3, 0, 2, 1, 2, 3, 2, 0, 0,
       0, 2, 1, 1, 3, 3, 3, 1, 3, 3, 3, 2, 0, 3, 3, 0, 2, 3, 0, 1, 1, 2,
       0, 2, 0, 0, 3, 3, 2, 1, 3, 0, 0, 1, 1, 0, 1, 1], dtype=int64)

## **Ukur**

In [37]:
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.932

In [38]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.99      0.95      0.97       143
           1       0.91      0.91      0.91       111
           2       0.85      0.94      0.89       113
           3       0.97      0.92      0.95       133

    accuracy                           0.93       500
   macro avg       0.93      0.93      0.93       500
weighted avg       0.94      0.93      0.93       500

## **Save model**

In [39]:
import joblib

joblib.dump(model, 'model_knn_prediksi_harga_hp.pkl')

['model_knn_prediksi_harga_hp.pkl']