In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## **Split**

In [16]:
X = df.drop('price_range', axis = 1)
y = df['price_range']

In [17]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [18]:
X.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [20]:
X_test.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
1606,557,0,0.5,1,3,0,17,0.2,89,6,4,322,710,2623,17,16,16,0,0,0
706,1254,0,1.2,1,2,0,50,0.7,108,5,6,462,1013,3959,10,4,17,1,1,0
1417,1987,1,1.9,0,0,0,50,0.7,119,8,18,960,1925,857,12,4,6,1,1,0
757,554,1,1.3,0,0,0,12,0.1,105,6,10,85,806,3764,10,7,4,0,1,1
1058,643,0,1.0,0,9,1,18,0.2,187,8,12,442,1079,2648,7,5,18,1,1,1
1987,618,1,1.0,0,9,1,13,0.1,80,4,15,591,724,1424,15,12,7,1,1,0
800,1439,0,0.9,0,12,1,20,0.8,147,1,17,626,932,1790,19,12,15,1,0,1
128,1957,0,0.9,1,11,0,31,0.6,181,3,16,396,1732,3801,12,0,7,1,0,1
1133,1528,1,1.8,1,3,1,55,0.8,129,5,6,454,1762,1282,11,9,11,1,1,1
1883,1205,1,2.7,0,5,0,10,0.1,163,6,10,321,1870,953,18,11,20,0,1,1

In [21]:
y_test.head(10)

1606    1
706     3
1417    1
757     2
1058    1
1987    0
800     1
128     3
1133    1
1883    0
Name: price_range, dtype: int64

In [22]:
y_train.head()

1296    2
132     2
1578    2
1772    3
1805    2
Name: price_range, dtype: int64

## **Train**

In [23]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([1, 3, 1, 2, 2, 0, 1, 3, 1, 1, 1, 2, 2, 3, 3, 2, 0, 2, 3, 1, 1, 3,
       0, 2, 0, 2, 0, 0, 0, 3, 2, 0, 3, 2, 0, 3, 2, 2, 0, 3, 1, 1, 1, 2,
       1, 3, 0, 2, 1, 0, 1, 1, 2, 3, 0, 0, 2, 0, 0, 2, 3, 2, 1, 0, 2, 0,
       1, 0, 0, 3, 0, 0, 1, 0, 1, 1, 3, 0, 2, 2, 2, 0, 0, 0, 2, 2, 2, 3,
       2, 1, 0, 1, 0, 0, 1, 3, 0, 0, 3, 2, 0, 2, 3, 3, 3, 0, 0, 2, 1, 0,
       3, 2, 1, 2, 0, 3, 0, 0, 0, 1, 3, 0, 1, 1, 1, 1, 2, 0, 2, 3, 3, 3,
       1, 0, 3, 2, 1, 3, 0, 1, 2, 1, 0, 2, 3, 3, 0, 2, 3, 1, 3, 2, 1, 2,
       0, 1, 3, 0, 2, 1, 2, 2, 0, 2, 2, 0, 3, 1, 3, 3, 0, 0, 2, 1, 3, 2,
       0, 1, 1, 2, 3, 2, 0, 1, 2, 2, 0, 0, 0, 0, 2, 0, 3, 1, 2, 1, 3, 2,
       2, 1, 1, 1, 2, 3, 0, 1, 2, 1, 3, 0, 1, 0, 0, 2, 3, 1, 0, 1, 3, 2,
       0, 2, 2, 0, 3, 3, 1, 1, 3, 0, 0, 2, 0, 2, 1, 2, 2, 2, 2, 1, 1, 1,
       3, 0, 1, 2, 3, 3, 1, 0, 2, 1, 1, 1, 1, 2, 0, 0, 0, 0, 0, 0, 3, 3,
       1, 0, 1, 2, 2, 2, 2, 3, 0, 0, 3, 2, 1, 0, 1, 0, 3, 3, 2, 1, 0, 0,
       2, 0, 1, 2, 0, 2, 0, 2, 1, 2, 0, 0, 0, 2, 1, 3, 3, 3, 3, 1, 2, 2,
       0, 2, 1, 1, 3, 2, 3, 1, 1, 2, 3, 2, 2, 0, 1, 3, 3, 1, 0, 1, 2, 1,
       0, 2, 1, 3, 3, 3, 3, 0, 0, 0, 1, 1, 1, 3, 3, 3, 2, 1, 2, 0, 3, 0,
       3, 1, 0, 1, 2, 3, 2, 3, 0, 3, 1, 1, 3, 3, 2, 0, 2, 0, 0, 2, 0, 1,
       3, 1, 0, 2, 0, 0, 3, 3, 0, 3, 1, 2, 3, 2, 1, 0, 1, 1, 2, 1, 2, 0,
       2, 1, 1, 0, 3, 0, 3, 2, 0, 3, 1, 0, 3, 0, 2, 2, 3, 1, 0, 3, 3, 2,
       3, 2, 1, 1, 1, 3, 3, 3, 1, 1, 1, 2, 3, 1, 1, 2, 3, 0, 3, 2, 0, 1,
       1, 1, 3, 1, 2, 1, 1, 1, 0, 0, 0, 1, 3, 3, 0, 3, 0, 3, 1, 3, 0, 1,
       3, 1, 3, 0, 2, 0, 1, 2, 3, 1, 2, 3, 1, 3, 1, 3, 0, 1, 2, 3, 0, 0,
       1, 1, 1, 2, 3, 0, 1, 2, 0, 3, 3, 0, 2, 2, 0, 3], dtype=int64)

## **Ukur**

In [24]:
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.912

In [25]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.93      0.96      0.94       134
           1       0.90      0.87      0.89       130
           2       0.85      0.92      0.88       120
           3       0.96      0.91      0.93       116

    accuracy                           0.91       500
   macro avg       0.91      0.91      0.91       500
weighted avg       0.91      0.91      0.91       500

## **Save model**

In [26]:
import joblib

joblib.dump(model, 'model_knn_prediksi_harga_hp_knn.pkl')

['model_knn_prediksi_harga_hp_knn.pkl']