In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## **Split**

In [3]:
X = df.drop('price_range', axis = 1)
y = df['price_range']

In [4]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [5]:
X.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [7]:
X_test.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
1261,1562,0,0.5,1,1,1,20,0.8,172,8,10,678,1676,3465,16,11,6,1,1,0
1964,1753,0,0.7,0,4,0,40,0.6,191,4,11,1652,1983,1112,8,2,15,1,1,1
122,825,1,0.5,1,7,0,52,0.9,130,3,10,597,863,3534,10,4,6,0,1,0
1835,1680,1,1.2,1,6,1,37,0.7,168,4,7,679,1231,1459,15,3,2,1,1,0
1071,1540,0,0.7,1,1,0,60,0.8,197,7,12,704,822,1591,19,0,2,1,0,1
1484,1689,1,0.5,0,11,0,9,0.5,150,5,15,467,675,2637,8,4,3,1,0,0
1901,965,1,1.4,0,1,0,13,0.9,197,8,2,645,1275,2343,17,12,15,1,0,0
1575,625,0,2.7,1,2,0,42,0.8,138,8,3,203,1771,2929,10,4,17,1,0,0
882,1156,1,2.7,1,1,1,30,0.9,173,3,16,945,1913,2735,16,15,13,1,0,1
1682,1996,1,2.8,1,0,1,7,0.1,138,5,4,937,1083,1258,17,14,16,1,0,0

In [8]:
y_test.head(10)

1261    3
1964    1
122     3
1835    1
1071    1
1484    2
1901    2
1575    2
882     2
1682    1
Name: price_range, dtype: int64

In [9]:
y_train.head()

1997    3
453     0
435     0
956     3
1290    0
Name: price_range, dtype: int64

## **Train**

In [10]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([3, 1, 3, 1, 1, 2, 2, 2, 2, 1, 3, 2, 3, 3, 3, 0, 0, 1, 2, 0, 2, 0,
       3, 3, 3, 1, 3, 0, 0, 0, 3, 1, 1, 3, 2, 0, 1, 0, 1, 3, 1, 3, 2, 1,
       2, 0, 1, 0, 2, 3, 3, 0, 2, 0, 3, 0, 1, 0, 2, 2, 0, 0, 2, 2, 0, 3,
       3, 3, 2, 0, 3, 3, 0, 2, 0, 1, 0, 2, 0, 0, 0, 2, 0, 2, 0, 1, 2, 0,
       0, 3, 2, 1, 1, 1, 3, 3, 2, 3, 3, 2, 0, 2, 2, 2, 0, 3, 1, 2, 0, 1,
       3, 0, 3, 1, 2, 0, 0, 3, 1, 3, 0, 3, 2, 3, 3, 2, 1, 0, 1, 3, 0, 1,
       1, 1, 3, 0, 1, 2, 1, 0, 1, 0, 1, 0, 0, 0, 3, 1, 0, 3, 2, 3, 2, 2,
       3, 3, 1, 3, 2, 1, 3, 0, 3, 0, 2, 3, 1, 1, 2, 0, 0, 3, 1, 3, 1, 3,
       1, 3, 1, 2, 0, 3, 1, 1, 1, 3, 2, 2, 1, 1, 0, 3, 1, 0, 2, 2, 3, 2,
       1, 0, 2, 3, 3, 0, 3, 3, 2, 1, 2, 0, 1, 3, 2, 1, 2, 2, 2, 1, 1, 1,
       2, 2, 1, 3, 0, 3, 3, 2, 3, 3, 0, 1, 3, 1, 1, 3, 0, 0, 0, 1, 3, 0,
       2, 2, 1, 1, 1, 2, 2, 3, 0, 1, 0, 1, 1, 0, 3, 1, 2, 3, 2, 2, 2, 3,
       0, 3, 2, 2, 2, 0, 0, 0, 1, 1, 1, 2, 0, 1, 3, 3, 2, 0, 1, 2, 3, 0,
       1, 2, 0, 2, 2, 3, 3, 1, 1, 3, 3, 3, 2, 2, 3, 3, 1, 1, 0, 1, 1, 3,
       3, 0, 3, 0, 2, 1, 0, 2, 0, 2, 2, 2, 0, 3, 1, 3, 0, 0, 0, 3, 1, 0,
       0, 3, 0, 3, 3, 2, 3, 1, 1, 2, 2, 1, 0, 3, 0, 2, 2, 3, 2, 1, 1, 2,
       0, 0, 2, 1, 1, 0, 2, 3, 3, 0, 2, 2, 0, 2, 0, 1, 0, 2, 1, 0, 3, 3,
       0, 0, 2, 1, 3, 2, 0, 1, 0, 2, 1, 1, 2, 1, 3, 3, 2, 2, 1, 0, 3, 2,
       1, 3, 2, 1, 2, 1, 2, 1, 1, 1, 3, 1, 0, 2, 0, 1, 0, 3, 1, 2, 3, 2,
       0, 0, 2, 2, 0, 3, 3, 2, 2, 0, 2, 2, 0, 3, 0, 3, 3, 3, 3, 2, 0, 1,
       2, 2, 1, 3, 2, 2, 2, 3, 2, 0, 2, 2, 2, 0, 0, 0, 2, 0, 1, 1, 0, 1,
       2, 1, 0, 0, 2, 3, 1, 2, 2, 0, 1, 2, 1, 1, 3, 0, 2, 2, 2, 1, 1, 1,
       0, 3, 0, 0, 2, 3, 3, 3, 0, 3, 0, 2, 3, 0, 3, 1], dtype=int64)

## **Ukur**

In [11]:
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.798

In [12]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.91      0.90      0.91       125
           1       0.73      0.73      0.73       119
           2       0.72      0.69      0.70       132
           3       0.83      0.87      0.85       124

    accuracy                           0.80       500
   macro avg       0.80      0.80      0.80       500
weighted avg       0.80      0.80      0.80       500

## **Save model**

In [13]:
import joblib

joblib.dump(model, 'model_nb_prediksi_harga_hp.pkl')

['model_nb_prediksi_harga_hp.pkl']