In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../train.csv')
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## **Split**

In [5]:
X = df.drop('price_range', axis = 1)
y = df['price_range']

In [6]:
y.head()

0    1
1    2
2    2
3    2
4    1
Name: price_range, dtype: int64

In [7]:
X.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [9]:
X_test.head(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
937,764,1,1.2,1,1,0,13,1.0,152,8,2,361,511,3148,18,7,6,1,1,0
57,987,0,1.3,1,0,1,61,0.4,107,3,9,581,820,3963,9,4,20,1,0,1
1755,1322,0,2.3,1,1,1,35,0.1,157,1,3,443,708,3684,15,8,6,1,0,0
1023,1576,0,2.6,0,7,0,58,0.2,90,3,16,400,631,336,14,8,13,1,1,1
716,863,0,1.6,1,5,1,6,0.7,133,4,13,717,1799,520,10,2,18,1,0,1
54,1073,1,0.5,1,0,0,51,0.5,145,7,0,690,804,2908,6,0,18,0,1,0
1828,1576,1,2.2,0,8,0,5,0.7,139,3,17,258,789,3904,5,1,7,1,1,1
1965,659,0,1.4,1,2,1,3,0.1,85,8,6,190,657,967,10,1,14,1,0,1
1391,794,0,2.5,1,15,0,14,0.6,197,3,19,312,1376,2171,19,8,18,0,0,1
261,728,0,2.7,1,0,0,25,0.2,88,4,1,526,1529,2039,5,1,12,1,1,1

In [10]:
y_test.head(10)

937     2
57      3
1755    3
1023    0
716     0
54      2
1828    3
1965    0
1391    1
261     1
Name: price_range, dtype: int64

In [11]:
y_train.head()

1004    2
1373    0
307     2
624     1
1474    3
Name: price_range, dtype: int64

## **Train**

In [12]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([2, 3, 3, 0, 0, 2, 3, 0, 1, 1, 2, 0, 1, 2, 1, 3, 3, 1, 3, 2, 3, 3,
       0, 3, 2, 1, 2, 2, 2, 1, 2, 3, 1, 3, 3, 1, 1, 1, 1, 2, 1, 3, 3, 1,
       1, 2, 2, 2, 0, 3, 2, 3, 3, 3, 3, 0, 3, 3, 1, 1, 0, 3, 3, 3, 0, 3,
       3, 1, 1, 1, 3, 0, 1, 0, 2, 3, 3, 1, 1, 1, 2, 2, 3, 1, 1, 3, 2, 2,
       2, 0, 2, 0, 0, 2, 0, 2, 3, 0, 2, 3, 2, 1, 3, 0, 1, 3, 1, 1, 2, 0,
       2, 0, 2, 1, 1, 0, 1, 0, 2, 0, 2, 0, 2, 0, 2, 0, 1, 0, 3, 1, 2, 2,
       1, 3, 0, 3, 3, 1, 0, 2, 3, 3, 1, 0, 1, 1, 3, 0, 2, 1, 3, 1, 0, 0,
       1, 1, 1, 1, 3, 0, 3, 1, 1, 1, 1, 2, 1, 1, 1, 0, 1, 2, 3, 3, 1, 1,
       0, 3, 3, 2, 1, 0, 1, 1, 3, 3, 3, 3, 2, 2, 1, 3, 3, 2, 3, 2, 1, 3,
       1, 0, 0, 1, 2, 2, 0, 0, 1, 3, 1, 2, 2, 1, 3, 0, 1, 1, 0, 2, 3, 0,
       3, 2, 0, 3, 0, 1, 1, 0, 3, 3, 2, 3, 2, 1, 2, 3, 2, 2, 1, 0, 2, 3,
       3, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 3, 2, 1, 3, 1, 0, 0, 3, 3,
       2, 2, 2, 3, 0, 0, 3, 0, 0, 0, 3, 3, 0, 3, 3, 0, 0, 2, 1, 0, 3, 0,
       0, 1, 3, 0, 1, 0, 3, 0, 1, 0, 3, 2, 1, 2, 1, 0, 2, 2, 3, 2, 1, 1,
       2, 2, 2, 2, 3, 1, 1, 3, 2, 3, 0, 1, 3, 2, 2, 0, 0, 0, 3, 2, 3, 1,
       2, 3, 2, 1, 1, 0, 2, 2, 2, 1, 3, 2, 0, 3, 0, 3, 1, 3, 2, 3, 0, 2,
       2, 1, 0, 0, 3, 2, 0, 0, 2, 2, 1, 0, 2, 1, 1, 0, 3, 2, 0, 0, 0, 1,
       1, 3, 3, 0, 2, 2, 2, 0, 1, 3, 2, 2, 2, 2, 3, 1, 0, 2, 0, 2, 2, 0,
       1, 3, 0, 2, 2, 0, 2, 0, 2, 1, 1, 1, 0, 0, 0, 1, 0, 2, 0, 3, 2, 0,
       3, 1, 2, 1, 1, 1, 0, 3, 1, 0, 3, 0, 0, 1, 0, 3, 1, 3, 3, 3, 3, 1,
       0, 1, 0, 1, 1, 1, 2, 0, 2, 3, 0, 1, 0, 0, 3, 3, 0, 3, 0, 0, 3, 2,
       1, 1, 1, 3, 1, 2, 0, 2, 2, 3, 1, 0, 0, 1, 2, 0, 0, 1, 3, 1, 2, 2,
       3, 0, 2, 0, 1, 1, 3, 2, 0, 2, 1, 2, 3, 3, 2, 3], dtype=int64)

## **Ukur**

In [13]:
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
accuracy

0.888

In [14]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.92      0.94      0.93       118
           1       0.85      0.83      0.84       130
           2       0.84      0.86      0.85       128
           3       0.95      0.93      0.94       124

    accuracy                           0.89       500
   macro avg       0.89      0.89      0.89       500
weighted avg       0.89      0.89      0.89       500

## **Save model**

In [15]:
import joblib

joblib.dump(model, 'model_rf_prediksi_harga_hp.pkl')

['model_rf_prediksi_harga_hp.pkl']